$black: #05000d;
$purple: #5854bf;
$dark-blue: #1b418c;
$blue: #3098d9;
$cyan: #6bf2f2;

$white: #ffffff;

:export {
  black: $black;
  purple: $purple;
  darkBlue: $dark-blue;
  blue: $blue;
  cyan: $cyan;
  white: $white;
}
